<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Records</title>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" /> -->

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

   <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <style>
    /* Add some basic styling for demonstration purposes */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1b2f45;
    }
    body {
        padding-top: 56px; /* Adjust the value based on your navbar height */
    }
    tbody tr:nth-child(even) {
    background-color: #F9F9F9; /* Lighter background color for even rows */
    }
    tbody tr:nth-child(odd) {
    background-color: #FFFFFF; /* Default background color for odd rows */
    }
    td, th {
    text-align: center;
    border: 1px solid #ddd; /* Add border to all cells */
    padding: 8px; /* Add padding for better spacing */
    }
    th {
    font-weight: bold;
    }
    /* Style the first row differently to emphasize it's the header row */
    thead tr {
    background-color: #FFFFFF; /* Light gray background */
    }
  </style>
</head>
  <body class="page-index">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="d-flex align-items-center">Provo City</h1>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="adminLanding">Home</a></li>
            <li><a href="survey">Survey</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="adminRecords">Records</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
   <br><br>
   <form action="/adminRecords/:ResponseID" method="GET">
      <style>
        .center-label {
            display: block;
            font-size: larger;
            color: #FFFFFF;
        }
    </style>
      <label for="ResponseID" class="center-label">Search:</label>
      <select name="ResponseID">
          <% 
          const uniqueResponseIDs = new Set();
          for (let iCount = 0; iCount < adminInfo.length; iCount++) {
              uniqueResponseIDs.add(adminInfo[iCount].ResponseID);
          }
          uniqueResponseIDs.forEach(responseID => { %>
              <option value='<%= responseID %>'><%= responseID %></option>
          <% }); %>
      </select>
      <button type="submit" class="createbtn">Search</button>
  </form>
  
   <br><br>
   <table>
     <thead>
        <!-- CHANGE THESE TO TITLES AND SUCH -->
       <tr>
        <th style="text-align: left;">ResponseID</th>
        <th style="text-align: left;">Origin</th>
        <th style="text-align: left;">Date</th>
        <th style="text-align: left;">Time</th>
        <th style="text-align: left;">Age</th>
        <th style="text-align: left;">Gender</th>
        <th style="text-align: left;">RelationshipStatus</th>
        <th style="text-align: left;">OccupationStatus</th>
        <th style="text-align: left;">SocialMediaUse</th>
        <th style="text-align: left;">HoursOnSocialMedia</th>
        <th style="text-align: left;">SocialMediaWithoutPurpose</th>
        <th style="text-align: left;">DistractedBySocialMedia</th>
        <th style="text-align: left;">RestlessWithoutSocialMedia</th>
        <th style="text-align: left;">EasilyDistractedScale</th>
        <th style="text-align: left;">BotheredByWorriesScale</th>
        <th style="text-align: left;">DifficultyConcentrating</th>
        <th style="text-align: left;">CompareSelfOnSocialMedia</th>
        <th style="text-align: left;">FeelingsAboutComparisons</th>
        <th style="text-align: left;">SeekValidationFrequency</th>
        <th style="text-align: left;">FeelingsOfDepression</th>
        <th style="text-align: left;">InterestFluctuationScale</th>
        <th style="text-align: left;">SleepIssuesScale</th>
        <th style="text-align: left;">MainID</th>
        <th style="text-align: left;">SocialMediaPlatformID</th>
        <th style="text-align: left;">SocialMediaPlatform</th>
        <th style="text-align: left;">OrganizationAffiliationID</th>
        <th style="text-align: left;">OrganizationAffiliation</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < adminInfo.length; iCount++) { %>
        <!-- now we are writing html so we don't need the ejs tag (javascript structure code) guys -->
        <td><%= adminInfo[iCount].ResponseID %></td>
        <td><%= adminInfo[iCount].Origin %></td>
        <td><%= adminInfo[iCount].Date %></td>
        <td><%= adminInfo[iCount].Time %></td>
        <td><%= adminInfo[iCount].Age %></td>
        <td><%= adminInfo[iCount].Gender %></td>
        <td><%= adminInfo[iCount].RelationshipStatus %></td>
        <td><%= adminInfo[iCount].OccupationStatus %></td>
        <td><%= adminInfo[iCount].SocialMediaUse %></td>
        <td><%= adminInfo[iCount].HoursOnSocialMedia %></td>
        <td><%= adminInfo[iCount].SocialMediaWithoutPurpose %></td>
        <td><%= adminInfo[iCount].DistractedBySocialMedia %></td>
        <td><%= adminInfo[iCount].RestlessWithoutSocialMedia %></td>
        <td><%= adminInfo[iCount].EasilyDistractedScale %></td>
        <td><%= adminInfo[iCount].BotheredByWorriesScale %></td>
        <td><%= adminInfo[iCount].DifficultyConcentrating %></td>
        <td><%= adminInfo[iCount].CompareSelfOnSocialMedia %></td>
        <td><%= adminInfo[iCount].FeelingsAboutComparisons %></td>
        <td><%= adminInfo[iCount].SeekValidationFrequency %></td>
        <td><%= adminInfo[iCount].FeelingsOfDepression %></td>
        <td><%= adminInfo[iCount].InterestFluctuationScale %></td>
        <td><%= adminInfo[iCount].SleepIssuesScale %></td>
        <td><%= adminInfo[iCount].MainID %></td>
        <td><%= adminInfo[iCount].SocialMediaPlatformID %></td>
        <td><%= adminInfo[iCount].SocialMediaPlatform %></td>
        <td><%= adminInfo[iCount].OrganizationAffiliationID %></td>
        <td><%= adminInfo[iCount].OrganizationAffiliation %></td>
           <td style="text-align: center;">
            <form action="/editRecord/<%= adminInfo[iCount].ResponseID %>" method="GET">
              <button type="submit">Edit</button>
            </form>
          </td>
           <td style="text-align: center;">
            <form action="/deleteRecord/<%= adminInfo[iCount].ResponseID %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
   <!-- <form action="/addCountry" method="GET">
     <button type="submit">Add Country</button>
   </form> -->

   <!-- Template Main JS File -->
  <script src=" /js/main.js"></script>
</body>
</html>