<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Apartment Records</title>
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" /> -->

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

   <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <style>
    /* Add some basic styling for demonstration purposes */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #574780;
    }
    body {
        padding-top: 56px; /* Adjust the value based on your navbar height */
    }
    tbody tr:nth-child(even) {
    background-color: #F9F9F9; /* Lighter background color for even rows */
    }
    tbody tr:nth-child(odd) {
    background-color: #FFFFFF; /* Default background color for odd rows */
    }
    td, th {
    text-align: center;
    border: 1px solid #ddd; /* Add border to all cells */
    padding: 8px; /* Add padding for better spacing */
    }
    th {
    font-weight: bold;
    }
    /* Style the first row differently to emphasize it's the header row */
    thead tr {
    background-color: #FFFFFF; /* Light gray background */
    }
  </style>
</head>
  <body class="page-index">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
  
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="d-flex align-items-center">Provo Apartments</h1>
        </a>
  
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="adminLanding">Back</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
   <br><br>
   <form action="/adminRecords/:ApartmentName" method="GET">
      <style>
        .center-label {
            display: block;
            font-size: larger;
            color: #FFFFFF;
        }
    </style>
      <label for="ApartmentName" class="center-label">Search:</label>
      <select name="ApartmentName">
          <% 
          const uniqueApartmentIDs = new Set();
          for (let iCount = 0; iCount < adminInfo.length; iCount++) {
              uniqueApartmentIDs.add(adminInfo[iCount].ApartmentName);
          }
          uniqueApartmentIDs.forEach(ApartmentName => { %>
              <option value='<%= ApartmentName %>'><%= ApartmentName %></option>
          <% }); %>
      </select>
      <button type="submit" class="createbtn">Search</button>
  </form>
  
   <br><br>
   <table>
     <thead>
        <!-- CHANGE THESE TO TITLES AND SUCH -->
       <tr>
        <th style="text-align: left;">ApartmentID</th>
        <th style="text-align: left;">ApartmentName</th>
        <th style="text-align: left;">MonthlyRent</th>
        <th style="text-align: left;">StreetAddress</th>
        <th style="text-align: left;">City</th>
        <th style="text-align: left;">State</th>
        <th style="text-align: left;">Zip</th>
        <th style="text-align: left;">Bedrooms</th>
        <th style="text-align: left;">RoomType</th>
        <th style="text-align: left;">Pets</th>
        <th style="text-align: left;">Rating</th>
         <th>Edit?</th>
         <th>Delete?</th>
       </tr>
     </thead>
     
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < adminInfo.length; iCount++) { %>
        <!-- now we are writing html so we don't need the ejs tag (javascript structure code) guys -->
        <td><%= adminInfo[iCount].ApartmentID %></td>
        <td><%= adminInfo[iCount].ApartmentName %></td>
        <td><%= adminInfo[iCount].MonthlyRent %></td>
        <td><%= adminInfo[iCount].StreetAddress %></td>
        <td><%= adminInfo[iCount].City %></td>
        <td><%= adminInfo[iCount].State %></td>
        <td><%= adminInfo[iCount].Zip %></td>
        <td><%= adminInfo[iCount].Bedrooms %></td>
        <td><%= adminInfo[iCount].RoomType %></td>
        <td><%= adminInfo[iCount].Pets %></td>
        <td><%= adminInfo[iCount].Rating %></td>
           <td style="text-align: center;">
            <form action="/editRecord/<%= adminInfo[iCount].ResponseID %>" method="GET">
              <button type="submit">Edit</button>
            </form>
          </td>
           <td style="text-align: center;">
            <form action="/deleteRecord/<%= adminInfo[iCount].ResponseID %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
   <!-- <form action="/addCountry" method="GET">
     <button type="submit">Add Country</button>
   </form> -->

   <!-- Template Main JS File -->
  <script src=" /js/main.js"></script>
</body>
</html>