<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Records</title>

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <style>
        body {
            background-color: #1b2f45;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: white; /* White backdrop */
        }

        form {
            width: 300px; /* Adjust the width as needed */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Add your additional styles here */
    </style>

</head>

<body class="page-index" style="background-color: #574780;">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="d-flex align-items-center">Provo Apartments</h1>
          </a>
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/adminRecords">Back</a></li>
              <li><a href="/">Logout</a></li>
            </ul>
          </nav><!-- .navbar -->
    
        </div>
      </header><!-- End Header -->
    <br><br><br><br><br><br>

    <div class="form-container">
        <form action="/editRecord/<%= ApartmentID %>" method="post">
            <h2>Edit Record</h2>
            <!-- <input type="hidden" id="ApartmentID" name="ApartmentID" value="<%=Dude[0].ApartmentID %>"> -->
            <label for="name">ApartmentName:</label><br>
            <input name="name" type="text" id="name" title="Type Apartment Name." value="<%= Dude[0].ApartmentName %>" autofocus
                required>
            <br><br>
            <label for="rent">Monthly Rent:</label><br>
            <input name="rent" type="number" min="1" id="rent" title="Type Monthly Rent." value="<%= Dude[0].MonthlyRent %>" >
            <br><br>
            <label for="address">Street Address:</label><br>
            <input name="address" type="text" id="address" title="Type Street Address." value="<%= Dude[0].StreetAddress %>" >
            <br><br>
            <label for="city">City:</label><br>
            <input name="city" type="text" id="city" title="Type City." value="<%= Dude[0].City %>">
            <!-- <br><br>
            <label for="State">State:</label>
            <input name="State" type="text" id="State" title="Type State." value="<%= Dude[0].State %>" autofocus
                required> -->
            <br><br>
            <label for="zip">Zip:</label><br>
            <input name="zip" type="number" min="1" id="zip" title="Type Zip." value="<%= Dude[0].Zip %>">
                <br><br>
            <label for="bedrooms">Number of Bedrooms:</label><br>
            <input name="bedrooms" type="number" min="1" id="bedrooms" title="Type Number of Bedrooms." value="<%= Dude[0].Bedrooms %>">
            <br><br>
            <label for="roomType">RoomType:</label><br>
            <select name="roomType" id="roomType" value="<%= Dude[0].RoomType %>" defaultValue="Shared">
                <option value="Shared">Shared</option>
                <option value="Private">Private</option>
            </select>
            <br><br>
            <label for="pets">Pets:</label><br>
            <select name="pets" id="pets" value="<%= Dude[0].Pets %>" defaultValue="N">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
            <br><br>
            <label for="rating">Rating:</label><br>
            <input name="rating" type="number" min="1" max="5" id="rating" title="Type Rating." value="<%= Dude[0].Rating %>">
            <br><br>
            <div class="container">
                <button type="submit" id="btnClick" class="createbtn">Save</button>
            </div>
    </div>
    </form>
    <script src="/js/main.js">

    </script>
</body>

</html>