<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Records</title>

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <style>
        body {
            background-color: #1b2f45;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: white; /* White backdrop */
        }

        form {
            width: 300px; /* Adjust the width as needed */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Add your additional styles here */
    </style>

</head>

<body class="page-index" style="background-color: #1b2f45;">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1 class="d-flex align-items-center">Provo City</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
    <br><br><br><br><br><br>

    <div class="form-container">
        <form action="/editRecord/<%= ApartmentID %>" method="post">
            <h2>Edit Record</h2>
            <input type="hidden" id="ApartmentID" name="ApartmentID" value="<%=Dude[0].ApartmentID %>">
            <label for="ApartmentName">ApartmentName:</label><br>
            <input name="ApartmentName" type="text" id="ApartmentName" title="Type Apartment Name." value="<%= Dude[0].ApartmentName %>" autofocus
                required>
            <br><br>
            <label for="MonthlyRent">MonthlyRent:</label><br>
            <input name="MonthlyRent" type="number" min="1" id="MonthlyRent" title="Type Monthly Rent." value="<%= Dude[0].MonthlyRent %>" autofocus
                required>
            <br><br>
            <label for="StreetAddress">StreetAddress:</label><br>
            <input name="StreetAddress" type="text" id="StreetAddress" title="Type Street Address." value="<%= Dude[0].StreetAddress %>" autofocus
                required>
            <br><br>
            <label for="City">City:</label><br>
            <input name="City" type="text" id="City" title="Type City." value="<%= Dude[0].City %>" autofocus
                required>
            <!-- <br><br>
            <label for="State">State:</label>
            <input name="State" type="text" id="State" title="Type State." value="<%= Dude[0].State %>" autofocus
                required> -->
            <br><br>
            <label for="Zip">Zip:</label><br>
            <input name="Zip" type="number" min="1" id="Zip" title="Type Zip." value="<%= Dude[0].Zip %>" autofocus
                required>
                <br><br>
            <label for="Bedrooms">Number of Bedrooms:</label><br>
            <input name="Bedrooms" type="number" min="1" id="Bedrooms" title="Type Numer of Bedrooms." value="<%= Dude[0].Bedrooms %>" autofocus
                required>
            <br><br>
            <label for="RoomType">RoomType:</label><br>
            <select name="RoomType" id="RoomType" value="<%= Dude[0].RoomType %>" defaultValue="Shared">
                <option value="Shared">Shared</option>
                <option value="Private">Private</option>
            </select>
            <br><br>
            <label for="Pets">Pets:</label><br>
            <select name="Pets" id="Pets" value="<%= Dude[0].Pets %>" defaultValue="N">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
            <br><br>
            <label for="Rating">Rating:</label><br>
            <input name="Rating" type="number" min="1" max="5" id="Rating" title="Type Rating." value="<%= Dude[0].Rating %>" autofocus
                required>
            <br><br>
            <div class="container">
                <button type="submit" id="btnClick" class="createbtn">Save</button>
            </div>
    </div>
    </form>
    <script src="/js/main.js">

    </script>
</body>

</html>